

h1{
  font-family: 'Coda', cursive;
  font-size: 2.7em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

}

.flex-item-left {
  flex: 50%;
  background: #dcdcdc;
}

.flex-item-right {
  flex: 50%;
  background-image: url(../imagens/fundo.jpg);
  background-size: cover;
}



#titulo{
  margin: 50px;
  padding: 10px;
}

#sobre{
  margin-top: 20px;
  font-family: 'Coda', cursive;

}

#subt{
  color: white;
  display: inline-block;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #2479cb;
  padding: 9px;
  font-family: 'Coda', cursive;
  font-weight: bold;
  line-height: 7px;
  
}

.btnme{
  background-color: #2479cb; 
  border-radius: 40px;
  color: white;
  padding: 10px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.btnme1{
  background-color: white; 
  color: #2479cb; 
  border: 2px solid #2479cb;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-weight: bold;

}

.btnme1:hover{
  background-color: #2479cb;
  color: white;
}

.gradientl {
  
  font-family: 'Monoton', cursive;
  background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
  
}

.fotome{
  display: flex;
  margin-top: 40px;
  

}
/* side bar */

.sidebar{
  display: flex;
  position: fixed;
  top: -15%;
  right: 0%;
  border-radius: 20px;
  width: 4%;
  height: 15%;
  float: right;
  margin-top: 21%;
  margin-right:3%;
}

.sidebar i{
  background: lightgray;
  padding: 10px;
  border-radius: 120px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.custom-icon{
  color: #2479cb;
}
.custom-icon:hover{
  color: #18548c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2px;

}

ul li{
  padding: 10px;
}




/* Media Queries */

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) { 

  #titulo h1{
    font-size: 40px;
  }

  .sidebar{
  display: flex;
  position: fixed;
  top: -10%;
  right: 9%;
  width: 2%;
  height: 15%;
  float: right;
  margin-top: 21%;
  margin-right:3%;

}

  .fotome{
    display: none;
  }

.sidebar i{
  background: #2479cb;
  padding: 10px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}

.custom-icon{
  color: #ffff;
}
.custom-icon:hover{
  color: #18548c;
}

  .nav-principal{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.nav-principal a{
  text-decoration: none;
  font-family: 'Coda', cursive;
  font-size: 20px;
  transition-duration: 0.5s;
  text-shadow: 2px 2px #0066CC;
}

.flex-item-left {
  flex: 100%;
  background: #dcdcdc;
}

.flex-item-right {
  flex: 0%;
  background-image: url(../imagens/fundo.jpg);
  background-size: cover;
  
}

 }

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  
  .flex-item-left {
  flex: 100%;
  background: #dcdcdc;
}

.flex-item-right {
  flex: 0%;
  background-image: url(../imagens/fundo.jpg);
  background-size: cover;
}


  .custom-icon{
  color: #ffff;
}
.custom-icon:hover{
  color: #18548c;
}

  .sidebar{
  display: flex;
  position: fixed;
  top: -15%;
  right: 6%;
  width: 2%;
  height: 15%;
  float: right;
  margin-top: 21%;
  margin-right:3%;

}

.sidebar i{
  background: #2479cb;
  padding: 10px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}

  .nav-principal{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.nav-principal a{
  text-decoration: none;
  font-family: 'Coda', cursive;
  font-size: 20px;
  transition-duration: 0.5s;
  text-shadow: 2px 2px #0066CC;
}

#titulo h1{
  font-size: 45px;
}

 }

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
  h1{
    font-size: 45px;
  }

.flex-item-left {
  flex: 60%;
  background: #dcdcdc;
}

.flex-item-right {
  flex: 40%;
  background-image: url(../imagens/fundo.jpg);
  background-size: cover;
}

#titulo h1{
  font-size: 42px;
}

.fotome{
  display: flex;
  position: fixed;
}

 }
/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .fotome{
  width: 80%;
  margin-top: 40px;
}

.flex-item-left {
  flex: 60%;
  background: #dcdcdc;
}

.flex-item-right {
  flex: 40%;
  background-image: url(../imagens/fundo.jpg);
  background-size: cover;
}


 }

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) { 
  .nav-button{
    display: none;
  }
 }
